<?xml version="1.0" encoding="utf-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.mercadopago.cordova.sdk"
    version="1.1.18">

    <name>MercadoPago</name>

    <description>This plugin allows to add MercadoPago to your application using MercadoPago Native library</description>

    <license>MIT License, see LICENSE.md for details</license>

    <engines>
            <engine name="cordova" version="&gt;=3.0.0" />
    </engines>

    <js-module src="www/cdv-plugin-mercadopago.js" name="MercadoPago">
        <clobbers target="MercadoPago" />
    </js-module>

     <dependency id="cordova-plugin-add-swift-support" version="1.6.0"/>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MercadoPago">
                <param name="android-package" value="com.mercadopago.cordova.sdk.MercadoPagoPlugin" />
            </feature>
        </config-file>

        <source-file src="src/android/MercadoPagoPlugin.java" target-dir="src/com/mercadopago/cordova/sdk" />
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />

    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="MercadoPago">
                <param name="ios-package" value="MercadoPagoPlugin" />
            </feature>
        </config-file>

        <header-file src="src/ios/MercadoPagoPlugin.h" target-dir="MercadoPago"/>
        <source-file src="src/ios/MercadoPagoPlugin.m" target-dir="MercadoPago"/>
        <framework src="MercadoPagoSDK" type="podspec" spec="3.0.0-BETA-39" />
    </platform>

</plugin>
